body{
    background-color: black;
}
h1 {
    color: wheat;
    text-align: center;
    font-size: 50px;
    background-color: purple;
}
cent{
    text-align: center;
}
p {
    font-size: 16px;
    color: white;
}
i{
    margin-left: 47%;
    font-size: 20px;
    color: rgb(175, 95, 108);
}
