body{
    background-color: rgb(255, 255, 255);
    color: rgb(157, 206, 238);
    cursor: url("./Alt.cur"), auto;
}
tit{
    margin-left: 700px;
    font-size: 50px;
    color: purple;
    background-color: palevioletred;
 
}
h1{
    height: 500px;
    margin-left: 630px;
}
p{
    font-size: 20px;
    text-align: center;
}
