body{
    background-color: black;
    color: white;
    cursor: url("./Alt.cur"), auto;
}
tit{
    font-size: 50px;
    color: purple;
    background-color: palevioletred;
}
h1{
    margin-top: 20px;
}
p{
    font-size: 20px;
}
